@page "/person/viewperson/{id}"
@inject IPersonService PersonService
@inject NavigationManager navManager
@inject Blazorcrud.Client.Shared.PageHistoryState PageHistoryState

<h1>Ver usuário</h1>
<br/>

<table class="table col-md-6">
    <tbody>
        @*<tr>
            <th scope="row">Id</th>
            <td>@person.PersonId</td>
        </tr>*@
        <tr>
            <th scope="row">GroupNumber</th>
            <td>@person.GroupNumber</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>@person.Description</td>
        </tr>
        <tr>
            <th scope="row">Entry Date</th>
            <td>@person.EntryDate</td>
        </tr>
        <tr>
            <th scope="row">UserName</th>
            <td>@person.UserName</td>
        </tr>
    </tbody>
</table>

<div class="form-group">
    @if (PageHistoryState.CanGoBack()){
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Voltar</NavLink>
    }
    else{
        <NavLink href="/person/1" class="btn btn-link">Voltar</NavLink>
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    Person person = new Person
    {
        GroupNumber = default,
        Description = "",
        EntryDate = default,
        UserName = ""
    };
    
    protected async override Task OnParametersSetAsync()
    {
       person = await PersonService.GetPerson(int.Parse(Id));
    }
}